{% extends 'base.html' %}
{% load avatar_tags %}

{% block content %}
<style type="text/css">
	.card{
		max-width: 80%;
	}
	.container{
		padding:0px;
	}
	a.post_links{
		color:black;
		font-weight: bold;
		text-decoration: none;
	}
	.image-circle{
		border-radius: 50%;
		width: 30px;
		height: 30px;
	}

	.borderless{
		border: none;
		background-color: rgba(250, 251, 252, 0);
	}
</style>

	<div class="row">

		<!-- Blog Post -->
		<div class="card m-auto">
			<img class="card-img-top" src={{blog_post.image.url}}>
			<div class="card-body mt-2 mb-2">
                <h2 class="card-title">{{blog_post.title}}</h2>
                <p class="card-text">{{blog_post.body|safe}}</p>
                {% if blog_post.author == request.user %}
                    <a href="{% url 'blog:edit' blog_post.slug %}" class="btn btn-primary">Update</a>
                {% endif %}
			</div>
			<div class="card-footer text-muted">
				<a class='post_links' href="{% url 'other_account' blog_post.author.username %}">{% avatar blog_post.author.email class="image-circle" id="user_avatar"%}{{blog_post.author.username}}</a><br>
			  Posted on {{blog_post.date_published}} and Updated on {{blog_post.date_updated}}
			</div>
			<div class="card">
				{% if user.is_authenticated %}
					<form action="{% url 'blog:blogpost_like' blog_post.slug %}" method="POST">
						{% csrf_token %}

						{% if post_is_liked %}
							<button class="borderless" type="submit" name="blogpost_id" value="{{object.username}}"><i class="icon mdi mdi-heart" style='font-size:24px;color:rgb(255, 230, 0);'></i></button>
						{% else %}
							<button class="borderless" type="submit" name="blogpost_id" value="{{object.username}}"><i class="icon mdi mdi-heart" style='font-size:24px; color: black'></i></button>
						{% endif %}
					</form>
				{% else %}
						<a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Log in to like this article!</a>
				{% endif %}
					<strong class="text-secondary">{{ number_of_likes }} Like{{ number_of_likes|pluralize }}</strong>
			</div>
		</div>

	</div>

	

{% endblock content %}
