{% load avatar_tags %}
<style type="text/css">
	.card{
		max-width: 700px;
	}
	.card-body{
		padding: 20px;
        width: 100%;
	}
	a.post_links{
		color:black;
		font-weight: bold;
		text-decoration: none;
	}
	.dp
    {
        border-radius: 50%;
		height: 60px;
		width: 60px;
		margin-right: 15px;
    }
	img{
		height: 500px;
		width: 500px;
	}
</style>
{% if blog_post %}
	<div class="row">

		<!-- Blog Post -->

		<div class="card m-auto">
			<div class="card">
				<p><a class='post_links' href="{% url 'other_account' blog_post.author.username %}">{% avatar blog_post.author.email class="dp"%}{{blog_post.author.username}}</a>
			</div>
			<a class='post_links' href="{% url 'blog:detail' post.slug %}">
				<img class="card-img-top" src="{{blog_post.image.url}}">
			</a>
			
			<div class="card-body mt-2 mb-2">
				<a class='post_links' href="{% url 'blog:detail' post.slug %}">
					<h2 class="card-title">{{blog_post.title}}</h2>
				</a>
				<p class="card-text">{{blog_post.body|safe|truncatechars:180}}</p>
				{% if blog_post.author == request.user %}
					<a href="{% url 'blog:edit' blog_post.slug %}" class="btn btn-primary">Update</a>
				{% endif %}
			</div>
			<div class="card-footer text-muted">
			
			  Updated on {{blog_post.date_updated}}
			</div>
        </div>
        
	</div>
{% else %}
	<div class="row">
		<div class="card m-auto">
			<div class="card-body mt-2 mb-2">
				<h2 class="card-title">No results</h2>
				<p class="card-text">There were no results matching the search: "{{query}}"</p>
			</div>
		</div>
	</div>
{% endif %}