
{% extends 'base.html'%}
{% load avatar_tags %}
{% block content %}
<style>
    .form-signin-profile{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    border: 5px solid rgb(253, 252, 252);
    border-radius: 20px;
    background-color:#fdfbfb;
    }
    .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    }
    
    .h3{
        text-align: center;
    }
    .container{
        height: 80vh;
        overflow-x: hidden;
        overflow-y: scroll;
        justify-content: center;
        align-items: center;
    }
    .blog-posts{
        max-width: 500px;
        width: 100%;
        margin: auto;
    }
    #user_avatar
    {
        border-radius: 50%;
        height: 100px;
        width: 100px;
    }
    h1
    {
        color: rgb(7, 0, 0);
    }
    h3#bio{
        color:rgb(12, 0, 0);
        text-decoration: underline;
    }
    #inputbio
    {
        font-family: cursive;
    }
    pre{
        font-size: large;
    }
</style>
<main class="form-signin-profile card">
    <form method="POST">
        {% csrf_token %}
        <center>
            {% avatar account_form.email class="img-circle" id="user_avatar"%}</center>
        <h1 class="h3 mb-3 fw-normal">Account</h1>
        <hr>
        <p>{{account_form.username}}<br>
        <a href="mailto:{{account_form.email}}">{{account_form.email}}</a></p><hr>
        <pre><p>{{account_form.bio}}</p></pre><hr>
</main>
<hr>
<h3 class="mb-3 text-center">Blog Posts</h3><hr>
    {% if blog_posts %}
				{% for post in blog_posts %}
					<div class="blog-post-container">
						{% include 'blog/snippets/blog_post_snippet.html' with blog_post=post %}<br>
                    </div>
                {% endfor %}
			{% else %}
				<div class="blog-post-container">
					{% include 'blog/snippets/blog_post_snippet.html' with query=query %}
				</div>
    {% endif %}
{% endblock content %}